<div
  id="main-wrapper"
  [ngClass]="{ 'show-sidebar': showMobileMenu }"
  dir="ltr"
  data-theme="light"
  data-layout="vertical"
  [attr.data-sidebartype]="sidebartype"
  data-sidebar-position="absolute"
  data-header-position="absolute"
  data-boxed-layout="full"
>
  <header class="topbar" data-navbarbg="skin1">
    <nav class="d-flex top-navbar navbar-expand-lg navbar-dark">
      <div class="navbar-header" [ngClass]="expandLogo ? 'expand-logo' : ''" data-logobg="skin6">
        <!-- Sidebar toggle para dispositivos móviles -->
        <a (click)="showMobileMenu = !showMobileMenu" class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)">
          <i [ngClass]="showMobileMenu ? 'bi bi-text-left fs-6' : 'bi bi-text-left fs-6'"></i>
        </a>
        
        <!-- Logo -->
        <a class="navbar-brand" href="/">
          <b class="logo-icon">
            <img src="assets/images/logos/logo_icon.png" alt="homepage" class="dark-logo" />
          </b>
          <span class="logo-text">
            <img src="assets/images/logos/logo-text.png" class="dark-logo" alt="homepage" />
          </span>
        </a>
        <!-- Fin de Logo -->
      </div>

      <!-- Barra de búsqueda -->
      <form class="d-flex mx-2 my-auto">
        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
      <!-- Fin de Barra de búsqueda -->

      <!-- Barra de navegación derecha -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"></a>
        </li>
        
        <!-- Puedes añadir más elementos de navegación aquí -->
      </ul>
      <!-- Fin de Barra de navegación derecha -->
    </nav>
  </header>

  <aside class="left-sidebar" data-sidebarbg="skin6" (mouseover)="Logo()" (mouseout)="Logo()">
    <app-sidebar></app-sidebar>
  </aside>

  <div class="page-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
